<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signgin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../static/assets/css/signup.css">


<body oncontextmenu='return false' class='snippet-body'>
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
        <div class="login">
            <h3 class="title">Signup </h3>
            <div class="text-input">
                <i class="ri-user-fill"></i>
                <input type="text" placeholder="Username">
            </div>
            <div class="text-input">
                <i class="ri-mail-fill"></i>
                <input type="text" placeholder="Email">
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input type="password" placeholder="Password">
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input type="password" placeholder="Comfirm Password">
            </div>
            <button class="login-btn" data-toggle="modal"
            data-target="#myModal">SIGNUP</button>
            <p class="mt-2 text-center">
                <a href="#" class="forgot">Already have an Account? <a href="login.html" class="lhover"> Login here</a> </a>
            </p>
            <div class="create">
                <a href="index.html">Back</a>
                <i class="ri-arrow-left-fill"></i>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" style="display: none;" aria-modal="true">
        <div class="modal-dialog">
            <div class="card">
                <div class="card-img"> <img class="img-fluid" src="./assets/img/hero/logo.png"> </div>
                <div class="card-title">
                    <p>Success!</p>
                </div>
                <div class="card-text">
                    <p>Your Account is created successfully! <br></p>
                </div> 
                <button class="btn">
                    Login Now
                </button>
            </div>
        </div>
    </div>
</body>

<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript'
    src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>

</html>